header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
}
#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    max-width: var(--section-max-width);
}

/* LOGO */
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 260px;
}
.logo-container img {
    height: 50px;
}
.logo-container h2 {
    color: var(--white);
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: left;
    text-transform: unset;
}
.logo-container h3 {
    color: var(--earth-yellow);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: left;
}
/* LOGO */

#header-content nav ul li a {
    color: var(--white);
}

#burger-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#close-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-link-list {
    display: none;
}

/* MENU MOBILE */

.mobile {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    right: -100%;
    transition: right 0.2s ease;
}
.mobile #nav-link-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    border-top: 2px solid var(--earth-yellow);
    padding-top: 30px;
    gap: 30px;
}
.mobile #nav-link-list li {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.mobile #nav-link-list a {
    color: var(--white);
    font-size: 2rem;
    margin-right: 30px;
}
.mobile #close-menu {
    display: flex;
    align-self: flex-end;
    margin: 30px 30px 30px 0;
}


/* MENU DESKTOP */
@media (min-width: 1024px) {
    #nav-link-list {
        display: flex;
        gap: 30px;
    }
    #burger-container {
        display: none;
    }
    #header-content nav ul li a {
        display: inline-block;
        position: relative;
        padding-bottom: 5px;
    }
    #header-content nav ul li a:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--earth-yellow);
        transform-origin: center;
        transition: transform 0.25s ease-out;
    }
    #header-content nav ul li a:hover:after {
        transform: scaleX(1);
        transform-origin: center;
    }
}