header {
    display: flex;
    width: 100vw;
    height: 100px;
    justify-content: center;
    align-items: center;
    background-color: var(--raisin-black);
}

#header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
}
#logo-container {
    height: 50px;
}
#logo-container img {
    height: 100%;
    width: 100%;
}
#header-content nav ul {
    display: flex;
    gap: 20px;
}
#header-content nav ul li a {
    color: #fff;
}