/* TITLE SECTION */
#home-title-section {
    width: 100%;
    height: 100vh;
    background-image: url(../media/img/painting-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 100vw var(--black-60);
}
#home-title-section h3 {
    color: var(--white);
}
@keyframes upndown {
    0% {transform: translateY(0);}
    50% {transform: translateY(20px);}
    100% {transform: translateY(0);}
}
#home-title-section a {
    background-color: var(--earth-yellow);
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin-top: 40px;
    transition: 0.2s;
    animation-duration: 3s;
    animation-name: upndown;
    animation-iteration-count: infinite;
}


/* NOS ACTIVITES */
.section-activites {
    padding: var(--section-padding);
    display: flex;
    width: 90%;
    flex-direction: column;
    max-width: var(--section-max-width);
}
.section-activites article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.section-activites p {
    height: 7rem;
}
.article-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* ORIGINES DU PROJET */
.section-origines {
    background-image: url(../media/img/expositions/expositions.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    box-shadow: inset 0 0 0 100vw var(--black-60);
    padding: var(--section-padding);
    display: flex;
    justify-content: center;
}
.section-origines article {
    width: 90%;
    display: flex;
    flex-direction: column;
}
.section-origines p, .section-origines h2 {
    color: var(--white);
}

/* ATELIERS DE DESSIN ET PEINTURE */
.section-ateliers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: var(--section-max-width);
}
.section-ateliers article p {
    margin-bottom: 50px;
}

/* IMAGE GRID */
.grid-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 8px;
}
.grid-col {
    -ms-flex: 45%;
    flex: 45%;
    max-width: 50%;
}
.grid-col img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    border-radius: 5px;
}

/* SECTION NEWSLETTER */
.section-newsletter {
    background-color: var(--white-smoke);
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-newsletter {
    background-color: var(--white-smoke);
    width: 100%;
    display: flex;
    justify-content: center;
}
.section-newsletter input {
    padding: 15px;
    color: var(--cod-gray);
    border: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}
.section-newsletter form {
    width: 90%;
    max-width: 700px;
}

@media screen and (max-width: 600px) {
    .grid-col {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .article-container {
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
    .article-container article {
        width: 50%;
        height: 100%;
    }
    #home-title-section a:hover {
        background-color: var(--earth-yellow2);
    }
}
@media (min-width: 1024px) {
    /* NOS ACTIVITES */
    .section-activites p {
        height: 6rem;
    }
    .section-ateliers {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
    }
    .grid-row {
        width: 70%;
        align-items: flex-start;
        margin-top: 0;
    }
    .section-ateliers article  {
        width: 30%;
    }
    /* SECTION NEWSLETTER */
    .section-newsletter form div {
        display: flex;
        gap: 20px;
    }
    .section-newsletter input {
        margin-bottom: unset;
    }
}
@media (min-width: 1250px) {
    /* NOS ACTIVITES */
    .article-container {
        flex-direction: row;
    }
    .article-container article {
        max-width: 500px;
    }
    /* ORIGINES DU PROJET */
    .section-origines {
        padding: 70px 20%;
    }
    .section-origines article {
        width: 50%;
    }
    .section-origines div:first-child {
        width: 50%;
    }
}