@import "./fonts.css";
@import "./variables.css";
@import "./_header.css";
@import "./_footer.css";

* {
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
li, a {
    list-style: none;
    text-decoration: none;
}
/* DIV DE SEPARATION */
.separator {
    height: 3px;
    width: 75px;
    background-color: var(--earth-yellow);
    margin: 20px 0;
}
/* DESIGN BOUTON */
.btn-link {
    padding: 15px 50px;
    background-color: var(--earth-yellow);
    border-radius: 25px;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    font-size: var(--p-size);
    border: none;
    transition: 0.2s;
}
.btn-link:hover {
    background-color: var(--earth-yellow2);
    cursor: pointer;
}
/* TEXT */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--lora);
}
p, a, li, button, input, label, textarea {
    font-family: var(--open-sans);
}
h1 {
    color: var(--white);
    font-size: var(--h1-size);
    font-weight: var(--h1-weight);
    text-transform: uppercase;
}
h2 {
    font-size: var(--h2-size);
    font-weight: var(--h2-weight);
    text-transform: uppercase;
}
h3 {
    font-size: var(--h3-size);
    font-weight: var(--h3-weight);
}
p {
    font-weight: var(--p-weight);
    line-height: var(--p-line-height);
    font-size: var(--p-size);
}
/* IMAGES */
.img-default {
    width: 100%;
    box-shadow: 10px 10px 0px var(--anti-flash-white);
    border-radius: 5px;
    max-width: 500px;
}
/* TITLE SECTION */
#title-section {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 0 0 100vw var(--black-60);
}
/* OTHER */
[class*="section"] {
    padding: var(--section-padding);
}
input:focus, textarea:focus, select:focus {
    outline: none;
    box-shadow: inset 0 0 0 2px var(--earth-yellow);
    border: 1px solid var(--earth-yellow) !important;
}

/* SCROLLBAR */
html::-webkit-scrollbar {
    background-color: var(--cod-gray);
}
html::-webkit-scrollbar-thumb {
    background-color: var(--onyx);
}
html::-webkit-scrollbar-thumb:hover {
    background-color: var(--silver);
}