:root {
    --raisin-black: #1A181B;
    --vanilla: #E1DAA7;
    --paynes-grey: #325F73;
    --bistre: #452E1F;
    --black: #000;
    --white: #fff;
    
    --title-color: brown;
    --text-color: red;
}
/* https://coolors.co/1a181b-e1daa7-325f73-ffffff-452e1f-EEB868 */